<h1>Editing Document</h1>

<%= render 'form', document: @document %>

<hr>

<%= link_to 'Show', @document, :class => 'btn btn-default' %> |
<%= link_to 'Back', documents_path, :class => 'btn btn-default' %>
