<p id="notice"><%= notice %></p>

<p>
  <strong>Project ID:</strong>
  <%= @document.project_id %>
</p>

<% if logged_in? %>
<%= link_to 'Edit', edit_document_path(@document), :class => 'btn btn-default' %> |
<% end %>
<%= link_to 'Back', documents_path, :class => 'btn btn-default' %>
